---
const currentYear = new Date().getFullYear();
const birthYear = 2003;
const birthMonth = 7;
const birthDay = 13;
const today = new Date();
let edad = currentYear - birthYear;
if (
  today.getMonth() < birthMonth ||
  (today.getMonth() === birthMonth && today.getDate() < birthDay)
) {
  edad--;
}
const personalImageAlt =
  "Hugo Martínez Barros - Desarrollador de Aplicaciones Web";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-sky-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Hugo Martínez Barros, tengo {edad} años de edad, actualmente vivo en
      <strong>Gondomar, Galicia.</strong>
    </p>
    <p>
      Estoy interesado principalmente por el <strong
        >desarrollo back-end.</strong
      > He trabajado con tecnologías como <strong
        >PHP, JavaScript, CSS, MySQL, Astro, Node.js y TypeScript
      </strong>, entre otras.
    </p>
    <p>
      Me gusta aprender cosas nuevas y compartir conocimientos con otras
      personas. Me considero una persona <strong
        >responsable, organizada y con gran capacidad de trabajo en equipo</strong
      >.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpeg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-sky-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
