---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Octubre 2024 - Actualmente...",
    title: "Programador Full-Stack",
    company: "DigitalizaT Solutions S.L",
    link: "https://digitalizat.com",
    description:
      "Diseño y desarrollo de plantillas web para talleres de vehículos de marcas importantes a nivel internacional, utilizando tecnologías como Hugo, JavaScript y CSS. También estoy participando en la creación de un sistema para administrar el contenido de las webs de los talleres de forma sencilla y rápida, utilizando tecnologías como PayloadCMS, Node.js y MongoDB. Además, he utilizado y creado APIs para la comunicación y actualización de la información dinámica de los talleres.",
  },
  {
    date: "Febrero 2024 - Septiembre 2024",
    title: "Programador Back-end",
    company: "RecambiosDiez",
    link: "https://recambiosdiez.com",
    description:
      "Desarrollo de modulos personalizados para PrestaShop y aplicaciones a medida, orientadas a optimizar la operativa de los empleados y procesos internos de la empresa. Utilicé tecnologías como PHP, MySQL, JavaScript (jQuery) y CSS. Creación de end-points para la obtención de datos y su posterior análisis. También comencé a desarrollar un ERP para sustituir el front-end de PrestaShop y mejorar la velocidad y el funcionamiento del mismo.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
